<div class="container-fluid" ng-controller="medical">
    <nav class="navbar navbar-expand-md border-bottom">
        <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
            <a class="navbar-brand p-0" href="#">
                <img src="assets/logo.png" height="50" width="50" alt="App Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavContent"
                aria-controls="navbarNavContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavContent">
                <ul class="navbar-nav d-flex align-items-center flex-row gap-4 px-4">
                    <li class="nav-item">
                        <a class="nav-link text-muted fw-semibold" ui-sref="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted fw-semibold" ui-sref="profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger fw-semibold" ng-click="logout()">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3 class="mb-3 p-2">Appointments</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                    <th scope="col">Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appointment in appointments">
                    <td>Dr. {{appointment.name}}</td>
                    <td>{{appointment.specialization}}</td>
                    <td>{{appointment.appointment_date}}</td>
                    <td>{{appointment.appointment_time}}</td>
                    <td>{{appointment.reason_to_vist}}</td>
                    <td>{{appointment.status}}</td>
                    <td>$ 200{{appointment.fees}}</td>
                </tr>
                <tr ng-if="appointments.length === 0">
                    <td  class="text-center text-muted">No appointments to display.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>